/* Once you start implementing Tailwind, you should probably delete everything in this file */

* {
	/* padding: 0; */
	/* margin: 0; */
	/* border: 1px solid blue; */
}

main {
	display: flex;
}

#search {
	flex: 4 0 0;
}

#search-history {
	flex: 1 0 0;
}

#data {
	display: none;
}

h3 {
	margin-bottom: 5px;
}

p {
	margin: 5px 0;
}

#calendar {
	display: flex;
	flex-direction: column;
}

#banner {
	display: flex;
	justify-content: space-between;
}

#calendar-gif {
	height: 67px;
}